*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif; }

a {
  text-decoration: none; }

@media only screen and (min-width: 768px) {
  body {
    width: 80%; }
    body .columns.large-1 {
      width: 8.333333%; }
    body .columns.large-2 {
      width: 16.666666%; }
    body .columns.large-3 {
      width: 24.999999%; }
    body .columns.large-4 {
      width: 33.333333%; }
    body .columns.large-5 {
      width: 41.666666%; }
    body .columns.large-6 {
      width: 50%; }
    body .columns.large-7 {
      width: 58.333333%; }
    body .columns.large-8 {
      width: 66.666666%; }
    body .columns.large-9 {
      width: 74.999999%; }
    body .columns.large-10 {
      width: 83.333333%; }
    body .columns.large-11 {
      width: 91.666666%; }
    body .columns.large-12 {
      width: 100%; } }
@media only screen and (max-width: 767px) {
  body {
    width: 90%; }
    body .columns.small-1 {
      width: 8.333333%; }
    body .columns.small-2 {
      width: 16.666666%; }
    body .columns.small-3 {
      width: 24.999999%; }
    body .columns.small-4 {
      width: 33.333333%; }
    body .columns.small-5 {
      width: 41.666666%; }
    body .columns.small-6 {
      width: 50%; }
    body .columns.small-7 {
      width: 58.333333%; }
    body .columns.small-8 {
      width: 66.666666%; }
    body .columns.small-9 {
      width: 74.999999%; }
    body .columns.small-10 {
      width: 83.333333%; }
    body .columns.small-11 {
      width: 91.666666%; }
    body .columns.small-12 {
      width: 100%; } }
@media only screen and (max-width: 767px) and (orientation: portrait) {
  body {
    width: 98%; }
    body .columns.small-1 {
      width: 8.333333%; }
    body .columns.small-2 {
      width: 16.666666%; }
    body .columns.small-3 {
      width: 24.999999%; }
    body .columns.small-4 {
      width: 33.333333%; }
    body .columns.small-5 {
      width: 41.666666%; }
    body .columns.small-6 {
      width: 50%; }
    body .columns.small-7 {
      width: 58.333333%; }
    body .columns.small-8 {
      width: 66.666666%; }
    body .columns.small-9 {
      width: 74.999999%; }
    body .columns.small-10 {
      width: 83.333333%; }
    body .columns.small-11 {
      width: 91.666666%; }
    body .columns.small-12 {
      width: 100%; } }
body {
  margin-left: auto;
  margin-right: auto; }
  body .row {
    clear: both; }
  body .columns {
    float: left;
    margin: 0;
    padding: 0; }
    body .columns:last-child {
      float: right; }
  body a.home span {
    display: none; }
  body a.home:after {
    content: '#'; }
  body h1 {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 32px;
    height: 32px;
    position: relative;
    margin: 0 0.25em 0.25em 0;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em; }
    body h1 a {
      background: url(../img/sprite.png) top left no-repeat;
      background-size: 32px 64px;
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 0; }
      body h1 a:hover {
        background: url(../img/sprite.png) bottom left no-repeat;
        background-size: 32px 64px;
        background-color: #c057a0; }
  body .button {
    width: 32px;
    height: 32px;
    position: relative;
    margin: 0 0.25em 0.25em 0;
    padding: 0;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em; }
    body .button:hover {
      background-color: #c057a0; }
    body .button a {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 32px;
      font-size: 32px; }
      body .button a:hover {
        color: #fff;
        font-size: 8px;
        text-transform: uppercase; }
      body .button a span {
        display: none; }
      body .button a.next {
        line-height: 25.6px; }
        body .button a.next:hover {
          line-height: 32px; }
        body .button a.next:after {
          content: '\00BB'; }
        body .button a.next:hover:after {
          content: 'more'; }
      body .button a.home {
        font-size: 25.6px; }
        body .button a.home:hover {
          font-size: 8px; }
        body .button a.home:after {
          content: "#"; }
        body .button a.home:hover:after {
          content: 'home'; }
  body a {
    color: #c057a0; }
    body a:hover {
      color: #ce8cbd; }
  body .primes {
    font-size: 32px;
    line-height: 32px;
    color: #424242;
    text-align: justify; }
  body footer {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    color: #e6e6e6;
    text-align: right;
    font-size: 0.75em; }
    body footer a {
      color: #e6e6e6; }
      body footer a:hover {
        color: #d2d2d2; }
