*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

a {
	text-decoration: none;
}

$logo-size: 32px;
$logo-margin: 0.25em;
$dark-pink: rgb(192, 87, 160); 
$light-pink: rgb(206, 140, 189);
$text-color: rgb(66, 66, 66);

@media only screen and (min-width: 768px) {
	body {
		width: 80%;

		.columns {

			&.large-1 {
				width: 8.333333%;
			}
			&.large-2 {
				width: 16.666666%;
			}
			&.large-3 {
				width: 24.999999%;
			}
			&.large-4 {
				width: 33.333333%;
			}
			&.large-5 {
				width: 41.666666%;
			}
			&.large-6 {
				width: 50%;
			}
			&.large-7 {
				width: 58.333333%;
			}
			&.large-8 {
				width: 66.666666%;
			}
			&.large-9 {
				width: 74.999999%;
			}
			&.large-10 {
				width: 83.333333%;
			}
			&.large-11 {
				width: 91.666666%;
			}
			&.large-12 {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	body {
		width: 90%;

		.columns {

			&.small-1 {
				width: 8.333333%;
			}
			&.small-2 {
				width: 16.666666%;
			}
			&.small-3 {
				width: 24.999999%;
			}
			&.small-4 {
				width: 33.333333%;
			}
			&.small-5 {
				width: 41.666666%;
			}
			&.small-6 {
				width: 50%;
			}
			&.small-7 {
				width: 58.333333%;
			}
			&.small-8 {
				width: 66.666666%;
			}
			&.small-9 {
				width: 74.999999%;
			}
			&.small-10 {
				width: 83.333333%;
			}
			&.small-11 {
				width: 91.666666%;
			}
			&.small-12 {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
	body {
		width: 98%;

		.columns {

			&.small-1 {
				width: 8.333333%;
			}
			&.small-2 {
				width: 16.666666%;
			}
			&.small-3 {
				width: 24.999999%;
			}
			&.small-4 {
				width: 33.333333%;
			}
			&.small-5 {
				width: 41.666666%;
			}
			&.small-6 {
				width: 50%;
			}
			&.small-7 {
				width: 58.333333%;
			}
			&.small-8 {
				width: 66.666666%;
			}
			&.small-9 {
				width: 74.999999%;
			}
			&.small-10 {
				width: 83.333333%;
			}
			&.small-11 {
				width: 91.666666%;
			}
			&.small-12 {
				width: 100%;
			}
		}
	}
}

body {
	margin-left: auto; margin-right: auto;

	.row {
		clear: both;
	}

	.columns {
		float: left;
		margin: 0;
		padding: 0;

		
		&:last-child {
			float: right;
		}
	}

	a.home {
		span { display: none; }
		&:after {
			content: '#';
		}
	}


	h1{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: $logo-size; height: $logo-size;
		position: relative;
		margin: 0 $logo-margin $logo-margin 0;
		-webkit-border-radius: 50em;
		-moz-border-radius: 50em;
		border-radius: 50em;

		a {
			background: url(../img/sprite.png) top left no-repeat;
			background-size: $logo-size $logo-size * 2;
			position: absolute;
			top: 0; left: 0;
			width: $logo-size; height: $logo-size;
			margin: 0;
			padding: 0;

			&:hover {
				background: url(../img/sprite.png) bottom left no-repeat;
				background-size: $logo-size $logo-size * 2;
				background-color: $dark-pink;
			}
		}
	}
	.button {
		width: $logo-size; height: $logo-size;
		position: relative;
		margin: 0 $logo-margin $logo-margin 0;
		padding: 0;
		-webkit-border-radius: 50em;
		-moz-border-radius: 50em;
		border-radius: 50em;

		&:hover {
			background-color: $dark-pink;
		}

		a {
			position: absolute;
			top: 0; left: 0;
			width: $logo-size; height: $logo-size;
			margin: 0;
			padding: 0;
			text-align: center;
			line-height: $logo-size;
			font-size: $logo-size;

			&:hover {
				color: #fff;
				font-size: 8px;
				text-transform: uppercase;
			}

			span { display: none; }

			&.next {
				line-height: $logo-size * 0.8;

				&:hover {
					line-height: $logo-size;
				}

				&:after {
					content: '\00BB';
				}

				&:hover:after {
					content: 'more';
				}
			}

			&.home {
				font-size: $logo-size * 0.8;

				&:hover {
					font-size: 8px;
				}

				&:after {
					content: "#";
				}

				&:hover:after {
					content: 'home';
				}
			}
		}
	}

	a {
		color: $dark-pink;

		&:hover {
			color: $light-pink;
		}
	}

	.primes {
		font-size: $logo-size;
		line-height: $logo-size;
		color: $text-color;
		text-align: justify;
	}

	$g: 230;
	footer {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		color: rgb($g, $g, $g);
		text-align: right;
		font-size: 0.75em;

		a {
			color: rgb($g, $g, $g);
			&:hover {
				color: rgb($g - 20, $g - 20, $g - 20);
			}
		}
	}
}
